body{
  background: #a9a9a9;
}

#past{
  display: none;
}

#calculator {
  margin: auto;
  width: 60%;
  margin-top: 15%;
  border-radius: 5%;
  background: #ffebcd;
  padding: 2px 2px;
  box-shadow: 2px 2px;
  -o-box-shadow: 2px 2px;
  -moz-box-shadow: 2px 2px;
  -ms-box-shadow: 2px 2px;
  -webkit-box-shadow: 2px 2px;
}

#screen {
  background: #696969;
  font-size: 1em;
  width: 80%;
  padding: 9px;
  margin: 5% auto;
  box-shadow: inset 2px 2px;
  -o-box-shadow: inset 2px 2px;
  -moz-box-shadow: inset 2px 2px;
  -ms-box-shadow: inset 2px 2px;
  -webkit-box-shadow: inset 2px 2px;
}

#screen > p{
  text-align: right;
}

#keys {
  margin: 4%;
  margin-bottom: 15%;

}

.key {
  background: #ff4500;
  display: inline-block;
  margin-top: 3%;
  border-radius: 26%;
  width: 13%;
  font-size: 1em;
  padding: 4% 2%;
  text-align: center;
  box-shadow: 2px;
  -o-box-shadow: 2px 2px;
  -moz-box-shadow: 2px 2px;
  -ms-box-shadow: 2px 2px;
  -webkit-box-shadow: 2px 2px;
}
.key + .key {
  margin-left: 8%;
}

@media (min-width: 750px) {

#calculator {
  margin: auto;
  width: 30%;
  margin-top: 15%;
  border-radius: 5%;
  background: #ffebcd;
  padding: 2px 2px;
  box-shadow: 2px 2px;
  -o-box-shadow: 2px 2px;
  -moz-box-shadow: 2px 2px;
  -ms-box-shadow: 2px 2px;
  -webkit-box-shadow: 2px 2px;
}

#screen {
  background: #696969;
  width: 80%;
  padding: 9px;
  font-size: 1em;
  margin: 5% auto 0;
  box-shadow: inset 2px 2px;
  -o-box-shadow: inset 2px 2px;
  -moz-box-shadow: inset 2px 2px;
  -ms-box-shadow: inset 2px 2px;
  -webkit-box-shadow: inset 2px 2px;
}

#screen > p{
  text-align: right;
}

#keys {
  margin-left: 12%;
  margin-bottom: 15%;

}

.key {
  background: #ff4500;
  display: inline-block;
  /*margin-left: 6%;*/
  margin-top: 2%;
  font-size: 1em;
  border-radius: 26%;
  width: 12%;
  text-align: center;
  box-shadow: 2px;
  -o-box-shadow: 2px 2px;
  -moz-box-shadow: 2px 2px;
  -ms-box-shadow: 2px 2px;
  -webkit-box-shadow: 2px 2px;
}

}