body{
  background:#a9a9a9;
}

#calculator {
  margin-top:3%;
  margin-left:30%;
  width:200px;
  border:1px #000000 solid;
  border-radius:5%;
  background:#ffebcd;
}

#screen {
  background:#696969;
  width:90%;
  border:1px #000000 solid;
  margin:5% 4%;
}

#screen > p{
  text-align:right;
}

#keys {
  margin-left:12%;
  margin-bottom:15%; 
}

.key {
  background:#ff4500;
  border:1px #000000 solid;
  display:inline-block;
  margin-left:6%;
  margin-top:2%;
  border-radius:26%;
  width:13%;
  text-align:center;
}

#key div {
  font-size:190%;
}

